<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Admin Login page</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		
		<link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}" />
		<link rel="stylesheet" href="../static/font-awesome/4.5.0/css/font-awesome.min.css" th:href="@{/font-awesome/4.5.0/css/font-awesome.min.css}" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../static/css/vendor/ace.min.css" th:href="@{/css/vendor/ace.min.css}"/>

		
		
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
						<div class="space-24"></div>
						<div class="space-6"></div>
							

							<div class="space-6"></div>

							<div class="position-relative">								
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
										<div class ="center">										
											<img th:src="@{/img/logo.jpg}" alt="Logo" width="95"/>											
										</div>
										
											<h5 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												Please Enter Your Information
											</h5>

											<div class="space-6"></div>

								<form th:action="@{/login}" method="post">
												<fieldset>
										<div th:if="${param.error}">
							                    Invalid email and password.
							            </div>
							            <div th:if="${param.logout}">
							                    You have been logged out.
							            </div>
										<label class="block clearfix">
											<span class="block input-icon input-icon-right">
												<input type="email" name="email" id="inputEmail" class="form-control" placeholder="email" />
												<i class="ace-icon fa fa-user"></i>
											</span>
										</label>

										<label class="block clearfix">
											<span class="block input-icon input-icon-right">
												<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"/>
												<i class="ace-icon fa fa-lock"></i>
											</span>
										</label>

										<div class="space"></div>

										<div class="clearfix center">
											

											<button type="submit" class="width-35 btn btn-sm btn-primary">
												<i class="ace-icon fa fa-key"></i>
												<span class="bigger-110">Login</span>
											</button>
										</div>

										<div class="space-4"></div>
									</fieldset>
								</form>											
								</div><!-- /.widget-main -->
							</div><!-- /.widget-body -->
						</div><!-- /.login-box -->								
					</div><!-- /.position-relative -->							
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

 <script type="text/javascript" href="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js/}"></script>		
	</body>
</html>
