<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1"/>
<meta name="description" content="Admin Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>Dashboard</title>
<link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/css/vendor/ace.min.css" th:href="@{/css/vendor/ace.min.css}"/>
<link rel="stylesheet" href="../static/font-awesome/4.5.0/css/font-awesome.min.css" th:href="@{/font-awesome/4.5.0/css/font-awesome.min.css}" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/admin.css}"/>
<script src="../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js/}"></script>
</head>
<body class="no-skin">
	<div id="navbar" class="navbar navbar-default ace-save-state" xmlns:th="http://wwww.thymeleaf.org">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="/admin/dashboard" class="navbar-brand">						
							Programming MCQ						
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						
						
						<li class="light-blue dropdown-modal" >
							<a data-toggle="dropdown" class="dropdown-toggle">															
								<span class="user-info">
									<small>Welcome,</small>
									[[${#httpServletRequest.remoteUser}]]
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li>
									<a th:href="@{/password}">
										<i class="ace-icon fa fa-cog"></i>
										Change Password
									</a>
								</li>

								<li class="divider"></li>

								<li>
								
									<a href="javascript: document.logoutForm.submit()" role="menuitem"> 
									<i class="ace-icon fa fa-power-off"></i>
									Logout
									</a>

   									<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      									<input hidden type="submit" value="Sign Out"/>
   									</form> 
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>


	<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

		<div id="sidebar" class="sidebar responsive ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<ul class="nav nav-list">
					<li class="">
						<a th:href="@{/admin/dashboard}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>	

					
					<li class="">
						<a th:href="@{/admin/score}">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> Score Board 								
							</span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<li class="active">
						<a th:href="@{/admin/register}">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> Add New Admin 								
							</span>
						</a>

						<b class="arrow"></b>
					</li>	
					
					<li class="">
						<a th:href="@{/admin/adminlist}">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> Admin List							
							</span>
						</a>

						<b class="arrow"></b>
					</li>			

				
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
			
					<div class="main-content">
		
		
			<div class="main-content-inner">			
				<div class="page-content">												
						<div th:if="${message}">
							<h2 th:text="${message}"></h2>
						</div>		
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4">									
								<div class="position-relative">								
								<div id="signup-box" class="signup-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="ace-icon fa fa-users blue"></i>
												New Admin Registration
											</h4>
								<form th:action="@{/admin/register}" th:object="${admin}" method="POST" data-toggle="validator" role="form" >
									<fieldset>
									<div class="form-group">
					                      <label class="block clearfix" for="inputName">First Name</label>
					                      <span class="block input-icon input-icon-right">
					                      <input class="form-control" name ="firstName" data-error="Please enter name field." id="firstName" placeholder="First Name"  type="text" required />
					                      <i class="ace-icon fa fa-user"></i>
						                    </span>
					                      <div class="help-block with-errors"></div>
				                  	</div>
									<div class="form-group">
				                      <label class="block clearfix" for="lastName">Last Name</label>
				                      <span class="block input-icon input-icon-right">
				                      <input class="form-control" name ="lastName" data-error="Please enter name field." id="lastName" placeholder="Last Name"  type="text" required />
				                       <i class="ace-icon fa fa-user"></i>
						               </span>
				                      <div class="help-block with-errors"></div>
				                   </div>			
									<div class="form-group">
					                    <label for="inputEmail" class="block clearfix">Email</label>
					                    <span class="block input-icon input-icon-right">
					                    <input type="email" class="form-control" id="inputEmail"  name ="email" placeholder="Email" required/>
					                    <i class="ace-icon fa fa-envelope"></i>
					                    </span>
					                    <div class="help-block with-errors"></div>
					                </div>					                
					                <div class="form-group">
									    <label for="inputPassword" class="block clearfix">Password</label>
									      <span class="block input-icon input-icon-right">
									         <input type="password" data-minlength="5" class="form-control" id="inputPassword" data-error="must enter minimum of 5 characters" placeholder="Password" required>
									           <i class="ace-icon fa fa-lock"></i>
					                   			 </span>          
									         <div class="help-block with-errors"></div>
									 </div>
									      <div class="form-group">
									      <label for="inputPasswordConfirm" class="block clearfix">Confirm Password</label>
									      <span class="block input-icon input-icon-right">
									        <input type="password" name="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, password don't match" placeholder="Confirm" required>
									        <i class="ace-icon fa fa-retweet"></i>
					                    </span>
									        <div class="help-block with-errors"></div>
									      </div>									      
										<div class="form-group">
					                      <label class="block clearfix" for="address">Address</label>
					                      <span class="block input-icon input-icon-right">
					                      <input class="form-control" name ="address" data-error="Please enter name field." id="address" placeholder="Address"  type="text" required />
					                      <i class="ace-icon fa fa-home"></i>
					                    </span>
					                      <div class="help-block with-errors"></div>
					                  </div>
											<div class="space-10"></div>
													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i> <span
																class="bigger-110">Reset</span>
														</button>
														<button type="submit"
															class="width-65 pull-right btn btn-sm btn-success">
															<span class="bigger-110">Register</span> <i
																class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>										
									</div><!-- /.widget-body -->
								</div><!-- /.signup-box -->
							</div><!-- /.position-relative -->	
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>			
			</div>
		</div>	

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">		
				<footer class="footer" th:replace="fragments/footer"></footer>			
				</div>
			</div>		
		</div>
	
	
</div>	

	<script type="text/javascript" href="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js/}"></script>
	<script src="../static/js/bootstrap.min.js"	th:src="@{/js/bootstrap.min.js/}"></script>
<script src="../static/js/ace-elements.min.js" th:src="@{/js/ace-elements.min.js/}"></script>
<script src="../static/js/ace.min.js" th:src="@{/js/ace.min.js/}"></script>
	
</body>
</html>