<footer class="probootstrap-footer" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">				
  <div class="container">
    <div class="row">
      <div class="col-md-12">
   		<p>
			<a href="#">Programming MCQ</a>	Application &copy;						
			<script>document.write(new Date().getFullYear());</script> All rights reserved							
		</p>      
      </div>
    </div>
  </div>
</footer>
