<div xmlns:th="http://wwww.thymeleaf.org" th:fragment="header">
	 <header role="banner" class="probootstrap-header">
	    <div class="container">
	        <a href="/" class="probootstrap-logo"><img src="img/logo.jpg"  height="42"> Programming MCQ </a>
	        
	        <a href="#" class="probootstrap-burger-menu visible-xs" ><i></i></a>
	        <div class="mobile-menu-overlay"></div>
	
	        <nav role="navigation" class="probootstrap-nav hidden-xs">
	          <ul class="probootstrap-main-nav">
	            <li><a href="/#home">Home</a></li>
	            <li th:if="${#httpServletRequest.remoteUser == null}"><a href="/#about">About</a></li>
	            <li th:if="${#httpServletRequest.remoteUser == null}"><a href="/#contactus">Contact Us</a></li>	           
	            <li th:if="${#httpServletRequest.remoteUser != null}">  			
					<a href="javascript: document.logoutForm.submit()" role="menuitem"> 
					<i class="ace-icon fa fa-power-off"></i>
					Logout
					</a>
					<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
						<input hidden type="submit" value="Sign Out"/>
					</form> 				   
				</li> 						
	          </ul>          
	        </nav>
	    </div>
	  </header>
</div>
