<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js/}"></script>
<script src="../static/js/scripts.min.js" th:src="@{/js/scripts.min.js/}"></script>
<script src="../static/js/main.min.js"	th:src="@{/js/main.min.js/}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
