<link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/css/styles-merged.css" th:href="@{/css/styles-merged.css}"/>
<link rel="stylesheet" href="../static/css/style.min.css" th:href="@{/css/style.min.css}" />
<link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
<link rel="stylesheet" href="../static/font-awesome/4.5.0/css/font-awesome.min.css" th:href="@{/font-awesome/4.5.0/css/font-awesome.min.css}" />
