body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

#next {
    background-color: #1bcfba;
    border: none;
  	border-radius: 10px;
    color: white;
    padding: 11px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#score {
    background-color: #1bcfba;
    border: none;
  	border-radius: 10px;
    color: white;
    padding: 11px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#prev {
    background-color: #e4a205;
    border: none;
  	border-radius: 10px;
    color: white;
    padding: 11px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#start {
    background-color: #dbb415;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.float_center > .button {
  position: relative;
  left: 50%;
}
.button a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
#container {
    width: 70%;
    margin: auto;
    padding: 20px 20px 20px 10px;
    background-color: #118b68;
    border: 4px solid #0d8260;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #aeacac;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 150px;
}

