.probootstrap-logo {
    float: left;
    color: #0f2724;
    padding-left: 0;
    font-size: 30px;
    display: block;
    font-weight: 100;
    font-family: monospace;
    font-variant: ordinal;
}

a {
    -webkit-transition: .3s all;
    transition: .3s all;
    color: #0615a2;
    margin-left: 6px;
    font-weight: 550;
}

span{
	font-size: 20px;
	font-weight: 200;
	 color: #0615a2;
	 font-family: monospace;
}
.main-content section {
  margin: 0 5%;
}
#circlered {
  position: relative;
  background-color: #ff0000;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 60px;
}
#circleblue {
  position: relative;
  background-color: #0080c0;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 60px;
}
#circlegreen {
  position: relative;
  background-color: #008000;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 60px;
}
#circleyellow {
  position: relative;
  background-color: #e9e907;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 60px;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
}  

#cred {
  position: relative;
  background-color: #ff0000;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 20px;
}
#cblue {
  position: relative;
  background-color: #0080c0;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 20px;
}
#cgreen {
  position: relative;
  background-color: #008000;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 20px;
}
#cyellow {
  position: relative;
  background-color: #e9e907;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 20px;
}

.probootstrap-logo:active, .probootstrap-logo:focus, .probootstrap-logo:hover {
    color: #339e12;
    text-decoration: none;
}  
    
.btn {
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .1em;
    -webkit-transition: .3s all ease-in;
    transition: .3s all ease-in;
    padding: 7px 20px;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#result-of-question th{
  text-align: center;
    background: #75ba48;
    color: #fff;
    padding: 18px;
    font-size: 18px;
    border: none;
}
#result-of-question  td{
  text-align: center;
    color: #222;
    background-color: #fff;
    padding: 18px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #75ba48;
}

#totalCorrect{
    color: #fff;
    background: #75ba48;
    padding: 22px 20px;
    border-radius: 1px;
    font-stretch: expanded;
    font-size: 28px;
    font-weight: bold;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;  
}

#wrapper {
    background: #dff0d8;
}