<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>Home Page</title>

<th:block layout:fragment="styles">

<link rel="stylesheet" href="../static/css/select/normalize.css" th:href="@{/css/select/normalize.css}"/>
<link rel="stylesheet" href="../static/css/select/stylesheet.css" th:href="@{/css/select/stylesheet.css}"/>
<link rel="stylesheet" href="../static/css/select/selectize.default.css" th:href="@{/css/select/selectize.default.css}"/>

</th:block>




</head>
<body>


<div layout:fragment="content">	
    <div class="row">
          <div class="col-md-6 col-md-offset-3">
         <h3>Welcome,
         <span class="user-info">					
			[[${#httpServletRequest.remoteUser}]]
		 </span> to Programming MCQ </h3><hr>
             <h4>General Instructions:</h4>
             <ul>
             <li>Total of 10 minutes duration will be given to attempt all the questions.</li>
             <li>Choose your preferred programming language(s).</li>
             <li>Finally, click on "Get Started" button to start your MCQ test.</li>        
             
             </ul>
             </div>     
		</div>
	

  <div class="probootstrap-main">	
		
      <div class="container">         
       <div class="col-md-8 col-md-offset-2">	
		<div id="wrapper">
			<div class="demo">			
				<h3>Enter the Programming Language(s)</h3>
				<form action="/question" method="post">
				<input type="hidden"
				    name="${_csrf.parameterName}"
				    value="${_csrf.token}"/>
				<select multiple name="languages" required>
				      <option th:each="tag :${tags}" th:value="${tag}" th:text="${tag}"></option>				      
				 </select>					

				<div class="control-group">

					
					<div class="input-group-btn">
			        <button class="btn btn-success" type="submit"><i class="fa fa-play-circle"></i>Get Started</button>
			      </div>
				</div>	
				</form>			
			</div>
		</div>
		<br>				
	   </div>     
	</div>

    <!-- END section -->
  </div>
	
</div>


<th:block layout:fragment="scripts">
<script src="../static/js/select/jqueryui.js" th:src="@{/js/select/jqueryui.js/}"></script>
<script src="../static/js/select/selectize.js" th:src="@{/js/select/selectize.js/}"></script>
<script src="../static/js/select/index.js" th:src="@{/js/select/index.js/}"></script>

<script>
$(function() {
				$('select').selectize({
					maxItems: 5,
					plugins: ['remove_button'],
					persist: false,
					create: true,
					render: {
						item: function(data, escape) {
							return '<div>"' + escape(data.text) + '"</div>';
						}
					},
					onDelete: function(values) {
						return confirm(values.length > 1 ? 'Are you sure you want to remove these ' + values.length + ' items?' : 'Are you sure you want to remove "' + values[0] + '"?');
					}
				});
});
				</script>



				
</th:block>
</body>
</html>