<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>Questions</title>

    <script>
        function updateScore(selectedAnswer,trueAnswer)
        {
            console.log("selected="+selectedAnswer.value+" correct answer="+trueAnswer);
        }
    </script>
</head>

<th:block layout:fragment="styles">
<link type='text/css' rel='stylesheet' th:href="@{/css/demo.css}"/>
</th:block>
<body>


<div layout:fragment="content">
  <div class="probootstrap-main">
   <section id="signup" class="probootstrap-section probootstrap-animate">
      <div class="container" id="container">       
		
  			<div id='quiz'></div>
  			<div  class="float_center">
  			<div class='button' id='prev'><a href='#'><i class="fa fa-angle-double-left"></i> Previous</a></div>
				<div class='button' id='next'><a href='#'>Next   <i class="fa fa-angle-double-right"></i></a></div>
	    		
	    		<div class='button' id='start'> <a href='#'>Start Over <i class="fa fa-refresh"></i></a></div> 
	    		<div class='button' id='score'> <a href='#'>Submit Score</a></div> 			   
			</div>   	
      </div>
    </section>

  </div>
  
	
</div>

<th:block layout:fragment="scripts">

<script src="../static/js/js.js" th:src="@{/js/js.js/}"></script>
<script th:inline="javascript">
/*<![CDATA[*/

    var message = /*[[${questions}]]*/ 'default';
    var user = /*[[${#httpServletRequest.remoteUser}]]*/ null;
    var tags = /*[[${session.tags}]]*/ null;
    console.log(message);
    console.log(tags);
    showQuestion(message, user,tags);

/*]]>*/
</script>
</th:block>

</body>
</html>