<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>User Register Page</title>		
	</head>
	<body>
	<div >
	<div layout:fragment="content">	
	
	<div class="probootstrap-main">
	<section id="signup" class="probootstrap-section">
      <div class="container">
        <div class="row">
							<div th:if="${message}">
								<h2 class="alert alert-danger" th:text="${message}"/>
							</div>
					 <div class="col-md-6 col-md-offset-3">								
											
 						<h1>SignUp,<span> Test your programming knowledge!!!</span></h1>
 						<hr>
						<form th:action="@{/register}" th:object="${appUserForm}" method="POST" data-toggle="validator" role="form" class="probootstrap-form probootstrap-form-box mb60" >
									<fieldset>
									<div class="form-group">
					                      <label class="block clearfix" for="inputName">First Name</label>					                     
					                      <input class="form-control" name ="firstName" data-error="Please enter name field." id="firstName" placeholder="First Name"  type="text" required />					                    
					                      <div class="help-block with-errors"></div>
				                  	</div>
									<div class="form-group">
				                      <label class="block clearfix" for="lastName">Last Name</label>				                    
				                      <input class="form-control" name ="lastName" data-error="Please enter name field." id="lastName" placeholder="Last Name"  type="text" required />
				                      <div class="help-block with-errors"></div>
				                   </div>			
									<div class="form-group">
					                    <label for="inputEmail" class="block clearfix">Email</label>					                   
					                    <input type="email" class="form-control" id="inputEmail"  name ="email" placeholder="Email" required/>					                    
					                    <div class="help-block with-errors"></div>
					                </div>
					                
					                <div class="form-group">
									    <label for="inputPassword" class="block clearfix">Password</label>									      
									         <input type="password" data-minlength="5" class="form-control"  id="pass1" data-error="must enter minimum of 5 characters" placeholder="Password" required>           
									         <div class="help-block with-errors"></div>
									 </div>
									      <div class="form-group">
									      <label for="inputPasswordConfirm" class="block clearfix">Confirm Password</label>									      
									        <input type="password" name="password" class="form-control" id="pass2" onkeyup="checkPass(); return false;" data-match="#inputPassword" data-match-error="Whoops, password don't match" placeholder="Confirm" required>
									        <span id="confirmMessage" class="confirmMessage"></span>
									        <div class="help-block with-errors"></div>
									      </div>
									      
										<div class="form-group">
					                      <label class="block clearfix" for="address">Address</label>					                      
					                      <input class="form-control" name ="address" data-error="Please enter name field." id="address" placeholder="Address"  type="text" required />					                    
					                   
					                      <div class="help-block with-errors"></div>
					                  </div>

													<div class="space-10"></div>

													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i> <span
																class="bigger-110">Reset</span>
														</button>

														 <button type="submit"
															class="width-65 pull-right btn btn-sm btn-primary">
															Register <i
																class="fa fa-arrow-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										

								
					 
					 </div>
					 		
	      

        </div>
      </div>
    </section>
	
	</div>

		</div>
</div>
		<th:block layout:fragment="scripts">


<script>

function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
} 



</script>


</th:block>
	</body>
</html>
