<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>Users List</title>

<th:block layout:fragment="styles">

</th:block>

</head>
<body>

<div layout:fragment="content">	
		
	<div class="probootstrap-main">
   	<section class="probootstrap-section-half probootstrap-no-hover">
      <div class="probootstrap-image" style="background-image: url(img/header.png)"></div>
     <div class="probootstrap-text">
        <div class="probootstrap-inner">
        <div th:if="${message}">
			<h2 class="alert alert-danger" th:text="${message}"/>
		</div>
		
         <form th:action="@{/login}" method="post">
         		<div th:if="${param.error}" class="alert alert-danger">
                    Invalid email and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
            
		       <div class="form-group">
		          <label for="nameEmail">Email</label>
		          <input type="email" class="form-control" id="nameEmail" name="email" path="email">
		        </div>
		        <div class="form-group">
		          <label for="namePassword">Password</label>
		          <input type="password" class="form-control" id="namePassword" name="password"  path="password">
		        </div>        
		         <div class="btn-group">
				    <button type="reset" class="btn btn-warning">Reset</button>
				    <button type="submit" class="btn btn-success">Login</button>
				   <a href="/register">New user? Register</a>
				 </div>
		 </form>
    </div>
   </div>    
 </section>    
    
     <section id="about" class="probootstrap-section-half probootstrap-reverse">
      <div class="probootstrap-image"  data-animate-effect="fadeIn" style="background-image: url(img/lang.jpg)"></div>
      <div class="probootstrap-text">
        <div class="probootstrap-inner">
          <h1 class="heading">Programming MCQ in Brief</h1><hr>
          <p>This application is made for the developers/students. This application contains multiple choice questions (C,C++, Java and more) to test programming skills.This application will help students and professionals in their interviews, career growth and improving programming skills.
           </p>
        </div>
      </div>
    </section>
    
    <section id="contactus" > 
      <div class="container">
    <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="mb70">The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 mb50">
            <div class="probootstrap-card probootstrap-person text-center">
              <div class="probootstrap-card-media">
                <img src="img/shankar.jpg" class="img-responsive">
              </div>
              <div class="probootstrap-card-text">
                <h2 class="probootstrap-card-heading mb0">Shankar Acharya</h2>
                  <p><small>Java Developer</small></p>  
                  	<ul class="probootstrap-social">
                  		<li><a href="#"><i class="icon-facebook2"></i></a></li>                  
                	</ul>             
              </div>
            </div>
          </div>  
               
          <div class="col-md-4 ml10  mb50">
            <div class="probootstrap-card probootstrap-person text-center">
              <div class="probootstrap-card-media">
                <img src="img/surya.jpg" class="img-responsive">
              </div>
              <div class="probootstrap-card-text">
                <h2 class="probootstrap-card-heading mb0">Surya Man Shrestha</h2>
                <p><small>Web Developer</small></p>
                <ul class="probootstrap-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>                  
                </ul>     
              </div>
            </div>
          </div>
          
        </div>
        </div>
        </section>  
     
  </div>	
</div>
		

<th:block layout:fragment="scripts">


<script>

function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
} 



</script>


</th:block>

</body>
</html>